

#container{
    display: flex;
    margin-top: 155px;
    margin-left: 200px;
    width: 1440px;
    height: 585px;
    border: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#left{

    width: 370px;
    background-color: #f2f2f2;
    height: auto;
    border: 2px solid black;
}

#middle {
    width: 860px;
    display: grid;
    height: auto;
    background-color: rgb(0, 51, 255);
    border: 2px solid black;
    grid-area: TrainInfo;
    grid-template-columns: 100px 100px 100px 50px
    100px 100px
}

#right{
    width: 198px;
    height: auto;
    background-color: rgb(0, 51, 255);
    border: 2px solid black;
}

#time { grid-area: time; }
#traintype { grid-area: traintype; }
#destination { grid-area: destination; }
#route { grid-area: route; }
#next { grid-area: next; }

#grid-container {
  grid-template-areas:
    'time traintype'
    'destination destination'
    'route route'
    'next next';
}
